<h5><strong>Seller</strong></h5>
<p><%= @offer.user.name %></p>

<p class="mb-1"><strong>Contact</strong></p>
<p><%= @offer.user.email %> | <%= @offer.user.phone %></p>

<p class="mb-1"><strong>Address</strong></p>
<p><%= @offer.user.address %></p>